<h1 class="text-center">Log-in</h1>


<div >
    <form method="post" action="/Home/Login">
        <div class="mb-3">
            <label for="EmailLogin" class="form-label">Email</label>
            <input type="text" id="EmailLogin" class="form-control" name="emailLog"/>
        </div>
        <div class="mb-3">
            <label for="PasswordLogin" class="form-label">Password</label>
            <input type="password" id="PasswordLogin" class="form-control" name="passwordLog" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Log-in</button>
            <a class="btn btn-primary" href="/Home/SignIn">Sign-in</a>
        </div>
    </form>
</div>