@{
    var researchers = ViewData["researchers"] as List<Journals_System.Models.Database.Researchers>; 
}

<div>
    @foreach(var researcher in researchers)
    {
        <div>
            <strong>@researcher.FullName</strong>
            <form method="post" action="/Researchers/Subscribe">
                <input type="hidden" name="idFollowed" value="@researcher.IdResearcher" />
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div>
        <hr />
    }
</div>