@{
    var message = ViewData["Message"] as string;
}

<h1 class="text-center">Sign-in</h1>

<div>
    <form method="post" action="/Home/SignInProcess" class="mb-3">
        <div class="mb-3">
            <label for="FullName" class="form-label">Enter your fullname</label>
            <input type="text" id="FullName" class="form-control" name="FullNameSignIn" />
        </div>
        <div class="mb-3">
            <label for="EmailLogin" class="form-label">Email</label>
            <input type="text" id="EmailLogin" class="form-control" name="emailLog" />
        </div>
        <div class="mb-3">
            <label for="PasswordLogin" class="form-label">Password</label>
            <input type="password" id="PasswordLogin" class="form-control" name="passwordLog" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Create account</button>
            <a class="btn btn-primary" href="/Home/Index">return</a>
        </div>
    </form>

    <h3 class="text-center">@message</h3>
</div>